:root {
  --md-source: #ff0000;
  --md-source-rgb: 255 0 0;
  --md-source-success: #00ff00;
  --md-source-success-rgb: 0 255 0;
  --md-source-warning: #ffff00;
  --md-source-warning-rgb: 255 255 0;
  
  /* Primary color palette */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary10: #410000;
  --md-ref-palette-primary10-rgb: 65 0 0;
  --md-ref-palette-primary20: #690100;
  --md-ref-palette-primary20-rgb: 105 1 0;
  --md-ref-palette-primary30: #930100;
  --md-ref-palette-primary30-rgb: 147 1 0;
  --md-ref-palette-primary40: #c00100;
  --md-ref-palette-primary40-rgb: 192 1 0;
  --md-ref-palette-primary50: #ef0000;
  --md-ref-palette-primary50-rgb: 239 0 0;
  --md-ref-palette-primary60: #ff5540;
  --md-ref-palette-primary60-rgb: 255 85 64;
  --md-ref-palette-primary70: #ff8a78;
  --md-ref-palette-primary70-rgb: 255 138 120;
  --md-ref-palette-primary80: #ffb4a8;
  --md-ref-palette-primary80-rgb: 255 180 168;
  --md-ref-palette-primary90: #ffdad4;
  --md-ref-palette-primary90-rgb: 255 218 212;
  --md-ref-palette-primary95: #ffedea;
  --md-ref-palette-primary95-rgb: 255 237 234;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary99-rgb: 255 251 255;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary100-rgb: 255 255 255;
  
  /* Secondary color palette */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary10: #2c1512;
  --md-ref-palette-secondary10-rgb: 44 21 18;
  --md-ref-palette-secondary20: #442925;
  --md-ref-palette-secondary20-rgb: 68 41 37;
  --md-ref-palette-secondary30: #5d3f3b;
  --md-ref-palette-secondary30-rgb: 93 63 59;
  --md-ref-palette-secondary40: #775651;
  --md-ref-palette-secondary40-rgb: 119 86 81;
  --md-ref-palette-secondary50: #926f69;
  --md-ref-palette-secondary50-rgb: 146 111 105;
  --md-ref-palette-secondary60: #ae8882;
  --md-ref-palette-secondary60-rgb: 174 136 130;
  --md-ref-palette-secondary70: #caa29c;
  --md-ref-palette-secondary70-rgb: 202 162 156;
  --md-ref-palette-secondary80: #e7bdb6;
  --md-ref-palette-secondary80-rgb: 231 189 182;
  --md-ref-palette-secondary90: #ffdad4;
  --md-ref-palette-secondary90-rgb: 255 218 212;
  --md-ref-palette-secondary95: #ffedea;
  --md-ref-palette-secondary95-rgb: 255 237 234;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary99-rgb: 255 251 255;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  
  /* Tertiary color palette */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary10: #251a00;
  --md-ref-palette-tertiary10-rgb: 37 26 0;
  --md-ref-palette-tertiary20: #3e2e04;
  --md-ref-palette-tertiary20-rgb: 62 46 4;
  --md-ref-palette-tertiary30: #564419;
  --md-ref-palette-tertiary30-rgb: 86 68 25;
  --md-ref-palette-tertiary40: #705c2e;
  --md-ref-palette-tertiary40-rgb: 112 92 46;
  --md-ref-palette-tertiary50: #8a7444;
  --md-ref-palette-tertiary50-rgb: 138 116 68;
  --md-ref-palette-tertiary60: #a58e5b;
  --md-ref-palette-tertiary60-rgb: 165 142 91;
  --md-ref-palette-tertiary70: #c1a873;
  --md-ref-palette-tertiary70-rgb: 193 168 115;
  --md-ref-palette-tertiary80: #dec48c;
  --md-ref-palette-tertiary80-rgb: 222 196 140;
  --md-ref-palette-tertiary90: #fbdfa6;
  --md-ref-palette-tertiary90-rgb: 251 223 166;
  --md-ref-palette-tertiary95: #ffefd2;
  --md-ref-palette-tertiary95-rgb: 255 239 210;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  
  /* Neutral color palette */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral10: #201a19;
  --md-ref-palette-neutral10-rgb: 32 26 25;
  --md-ref-palette-neutral20: #362f2e;
  --md-ref-palette-neutral20-rgb: 54 47 46;
  --md-ref-palette-neutral30: #4d4544;
  --md-ref-palette-neutral30-rgb: 77 69 68;
  --md-ref-palette-neutral40: #655c5b;
  --md-ref-palette-neutral40-rgb: 101 92 91;
  --md-ref-palette-neutral50: #7f7573;
  --md-ref-palette-neutral50-rgb: 127 117 115;
  --md-ref-palette-neutral60: #998e8d;
  --md-ref-palette-neutral60-rgb: 153 142 141;
  --md-ref-palette-neutral70: #b4a9a7;
  --md-ref-palette-neutral70-rgb: 180 169 167;
  --md-ref-palette-neutral80: #d0c4c2;
  --md-ref-palette-neutral80-rgb: 208 196 194;
  --md-ref-palette-neutral90: #ede0dd;
  --md-ref-palette-neutral90-rgb: 237 224 221;
  --md-ref-palette-neutral95: #fbeeec;
  --md-ref-palette-neutral95-rgb: 251 238 236;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral99-rgb: 255 251 255;
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  
  /* Neutral variant color palette */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant10: #251917;
  --md-ref-palette-neutral-variant10-rgb: 37 25 23;
  --md-ref-palette-neutral-variant20: #3b2d2b;
  --md-ref-palette-neutral-variant20-rgb: 59 45 43;
  --md-ref-palette-neutral-variant30: #534341;
  --md-ref-palette-neutral-variant30-rgb: 83 67 65;
  --md-ref-palette-neutral-variant40: #6c5a58;
  --md-ref-palette-neutral-variant40-rgb: 108 90 88;
  --md-ref-palette-neutral-variant50: #857370;
  --md-ref-palette-neutral-variant50-rgb: 133 115 112;
  --md-ref-palette-neutral-variant60: #a08c89;
  --md-ref-palette-neutral-variant60-rgb: 160 140 137;
  --md-ref-palette-neutral-variant70: #bca7a3;
  --md-ref-palette-neutral-variant70-rgb: 188 167 163;
  --md-ref-palette-neutral-variant80: #d8c2be;
  --md-ref-palette-neutral-variant80-rgb: 216 194 190;
  --md-ref-palette-neutral-variant90: #f5ddda;
  --md-ref-palette-neutral-variant90-rgb: 245 221 218;
  --md-ref-palette-neutral-variant95: #ffedea;
  --md-ref-palette-neutral-variant95-rgb: 255 237 234;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant99-rgb: 255 251 255;
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  
  /* Error color palette */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error100-rgb: 255 255 255;
  
  /* Light */
  --md-sys-color-primary-light: #c00100;
  --md-sys-color-primary-light-rgb: 192 1 0;
  --md-sys-color-primary-container-light: #ffdad4;
  --md-sys-color-primary-container-light-rgb: 255 218 212;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-primary-light-rgb: 255 255 255;
  --md-sys-color-on-primary-container-light: #410000;
  --md-sys-color-on-primary-container-light-rgb: 65 0 0;
  --md-sys-color-inverse-primary-light: #ffb4a8;
  --md-sys-color-inverse-primary-light-rgb: 255 180 168;
  
  --md-sys-color-secondary-light: #775651;
  --md-sys-color-secondary-light-rgb: 119 86 81;
  --md-sys-color-secondary-container-light: #ffdad4;
  --md-sys-color-secondary-container-light-rgb: 255 218 212;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-secondary-light-rgb: 255 255 255;
  --md-sys-color-on-secondary-container-light: #2c1512;
  --md-sys-color-on-secondary-container-light-rgb: 44 21 18;
  
  --md-sys-color-tertiary-light: #705c2e;
  --md-sys-color-tertiary-light-rgb: 112 92 46;
  --md-sys-color-tertiary-container-light: #fbdfa6;
  --md-sys-color-tertiary-container-light-rgb: 251 223 166;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-on-tertiary-light-rgb: 255 255 255;
  --md-sys-color-on-tertiary-container-light: #251a00;
  --md-sys-color-on-tertiary-container-light-rgb: 37 26 0;
  
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-light-rgb: 186 26 26;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-error-container-light-rgb: 255 218 214;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-light-rgb: 255 255 255;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-on-error-container-light-rgb: 65 0 2;
  
  --md-sys-color-background-light: #fff8f6;
  --md-sys-color-background-light-rgb: 255 248 246;
  --md-sys-color-on-background-light: #201a19;
  --md-sys-color-on-background-light-rgb: 32 26 25;
  
  --md-sys-color-on-surface-light: #201a19;
  --md-sys-color-on-surface-light-rgb: 32 26 25;
  --md-sys-color-surface-light: #fff8f6;
  --md-sys-color-surface-light-rgb: 255 248 246;
  --md-sys-color-surface-dim-light: #e4d7d5;
  --md-sys-color-surface-dim-light-rgb: 228 215 213;
  --md-sys-color-surface-bright-light: #fff8f6;
  --md-sys-color-surface-bright-light-rgb: 255 248 246;
  
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-container-lowest-light-rgb: 255 255 255;
  --md-sys-color-surface-container-low-light: #fef1ee;
  --md-sys-color-surface-container-low-light-rgb: 254 241 238;
  --md-sys-color-surface-container-light: #f8ebe9;
  --md-sys-color-surface-container-light-rgb: 248 235 233;
  --md-sys-color-surface-container-high-light: #f3e5e3;
  --md-sys-color-surface-container-high-light-rgb: 243 229 227;
  --md-sys-color-surface-container-highest-light: #ede0dd;
  --md-sys-color-surface-container-highest-light-rgb: 237 224 221;
  
  --md-sys-color-on-surface-variant-light: #4d4544;
  --md-sys-color-on-surface-variant-light-rgb: 77 69 68;
  --md-sys-color-surface-variant-light: #ede0dd;
  --md-sys-color-surface-variant-light-rgb: 237 224 221;
  
  --md-sys-color-outline-light: #857370;
  --md-sys-color-outline-light-rgb: 133 115 112;
  --md-sys-color-outline-variant-light: #d8c2be;
  --md-sys-color-outline-variant-light-rgb: 216 194 190;
  
  --md-sys-color-inverse-on-surface-light: #fbeeec;
  --md-sys-color-inverse-on-surface-light-rgb: 251 238 236;
  --md-sys-color-inverse-surface-light: #362f2e;
  --md-sys-color-inverse-surface-light-rgb: 54 47 46;
  
  --md-sys-color-surface-tint-light: #c00100;
  --md-sys-color-surface-tint-light-rgb: 192 1 0;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-shadow-light-rgb: 0 0 0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-scrim-light-rgb: 0 0 0;
  
  /* Custom color "success" light */
  --md-custom-color-success-light: #4a6700;
  --md-custom-color-success-light-rgb: 74 103 0;
  --md-custom-color-on-success-light: #ffffff;
  --md-custom-color-on-success-light-rgb: 255 255 255;
  --md-custom-color-success-container-light: #b7f613;
  --md-custom-color-success-container-light-rgb: 183 246 19;
  --md-custom-color-on-success-container-light: #141f00;
  --md-custom-color-on-success-container-light-rgb: 20 31 0;
  
  /* Custom color "warning" light */
  --md-custom-color-warning-light: #715d00;
  --md-custom-color-warning-light-rgb: 113 93 0;
  --md-custom-color-on-warning-light: #ffffff;
  --md-custom-color-on-warning-light-rgb: 255 255 255;
  --md-custom-color-warning-container-light: #ffe176;
  --md-custom-color-warning-container-light-rgb: 255 225 118;
  --md-custom-color-on-warning-container-light: #221b00;
  --md-custom-color-on-warning-container-light-rgb: 34 27 0;
  
  /* Dark */
  --md-sys-color-primary-dark: #ffb4a8;
  --md-sys-color-primary-dark-rgb: 255 180 168;
  --md-sys-color-primary-container-dark: #930100;
  --md-sys-color-primary-container-dark-rgb: 147 1 0;
  --md-sys-color-on-primary-dark: #690100;
  --md-sys-color-on-primary-dark-rgb: 105 1 0;
  --md-sys-color-on-primary-container-dark: #ffdad4;
  --md-sys-color-on-primary-container-dark-rgb: 255 218 212;
  --md-sys-color-inverse-primary-dark: #c00100;
  --md-sys-color-inverse-primary-dark-rgb: 192 1 0;
  
  --md-sys-color-secondary-dark: #e7bdb6;
  --md-sys-color-secondary-dark-rgb: 231 189 182;
  --md-sys-color-secondary-container-dark: #5d3f3b;
  --md-sys-color-secondary-container-dark-rgb: 93 63 59;
  --md-sys-color-on-secondary-dark: #442925;
  --md-sys-color-on-secondary-dark-rgb: 68 41 37;
  --md-sys-color-on-secondary-container-dark: #ffdad4;
  --md-sys-color-on-secondary-container-dark-rgb: 255 218 212;
  
  --md-sys-color-tertiary-dark: #dec48c;
  --md-sys-color-tertiary-dark-rgb: 222 196 140;
  --md-sys-color-tertiary-container-dark: #564419;
  --md-sys-color-tertiary-container-dark-rgb: 86 68 25;
  --md-sys-color-on-tertiary-dark: #3e2e04;
  --md-sys-color-on-tertiary-dark-rgb: 62 46 4;
  --md-sys-color-on-tertiary-container-dark: #fbdfa6;
  --md-sys-color-on-tertiary-container-dark-rgb: 251 223 166;
  
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-dark-rgb: 255 180 171;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-error-container-dark-rgb: 147 0 10;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-dark-rgb: 105 0 5;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-on-error-container-dark-rgb: 255 218 214;
  
  --md-sys-color-background-dark: #181211;
  --md-sys-color-background-dark-rgb: 24 18 17;
  --md-sys-color-on-background-dark: #ede0dd;
  --md-sys-color-on-background-dark-rgb: 237 224 221;
  
  --md-sys-color-on-surface-dark: #ede0dd;
  --md-sys-color-on-surface-dark-rgb: 237 224 221;
  --md-sys-color-surface-dark: #181211;
  --md-sys-color-surface-dark-rgb: 24 18 17;
  --md-sys-color-surface-dim-dark: #181211;
  --md-sys-color-surface-dim-dark-rgb: 24 18 17;
  --md-sys-color-surface-bright-dark: #3f3736;
  --md-sys-color-surface-bright-dark-rgb: 63 55 54;
  
  --md-sys-color-surface-container-lowest-dark: #120d0c;
  --md-sys-color-surface-container-lowest-dark-rgb: 18 13 12;
  --md-sys-color-surface-container-low-dark: #201a19;
  --md-sys-color-surface-container-low-dark-rgb: 32 26 25;
  --md-sys-color-surface-container-dark: #251e1d;
  --md-sys-color-surface-container-dark-rgb: 37 30 29;
  --md-sys-color-surface-container-high-dark: #2f2827;
  --md-sys-color-surface-container-high-dark-rgb: 47 40 39;
  --md-sys-color-surface-container-highest-dark: #3b3332;
  --md-sys-color-surface-container-highest-dark-rgb: 59 51 50;
  
  --md-sys-color-on-surface-variant-dark: #d0c4c2;
  --md-sys-color-on-surface-variant-dark-rgb: 208 196 194;
  --md-sys-color-surface-variant-dark: #4d4544;
  --md-sys-color-surface-variant-dark-rgb: 77 69 68;
  
  --md-sys-color-outline-dark: #a08c89;
  --md-sys-color-outline-dark-rgb: 160 140 137;
  --md-sys-color-outline-variant-dark: #534341;
  --md-sys-color-outline-variant-dark-rgb: 83 67 65;
  
  --md-sys-color-inverse-on-surface-dark: #362f2e;
  --md-sys-color-inverse-on-surface-dark-rgb: 54 47 46;
  --md-sys-color-inverse-surface-dark: #ede0dd;
  --md-sys-color-inverse-surface-dark-rgb: 237 224 221;
  
  --md-sys-color-surface-tint-dark: #ffb4a8;
  --md-sys-color-surface-tint-dark-rgb: 255 180 168;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-shadow-dark-rgb: 0 0 0;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-scrim-dark-rgb: 0 0 0;
  
  /* Custom color "success" dark */
  --md-custom-color-success-dark: #9fd800;
  --md-custom-color-success-dark-rgb: 159 216 0;
  --md-custom-color-on-success-dark: #253600;
  --md-custom-color-on-success-dark-rgb: 37 54 0;
  --md-custom-color-success-container-dark: #374e00;
  --md-custom-color-success-container-dark-rgb: 55 78 0;
  --md-custom-color-on-success-container-dark: #b7f613;
  --md-custom-color-on-success-container-dark-rgb: 183 246 19;
  
  /* Custom color "warning" dark */
  --md-custom-color-warning-dark: #e4c44a;
  --md-custom-color-warning-dark-rgb: 228 196 74;
  --md-custom-color-on-warning-dark: #3b2f00;
  --md-custom-color-on-warning-dark-rgb: 59 47 0;
  --md-custom-color-warning-container-dark: #554500;
  --md-custom-color-warning-container-dark-rgb: 85 69 0;
  --md-custom-color-on-warning-container-dark: #ffe176;
  --md-custom-color-on-warning-container-dark-rgb: 255 225 118;
  
  /* Display - Large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 3.5625rem;
  --md-sys-typescale-display-large-line-height: 4rem;
  --md-sys-typescale-display-large-letter-spacing: -0.015625rem;
  --md-sys-typescale-display-large: normal 400 3.5625rem/4rem Roboto;
  
  /* Display - Medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 2.8125rem;
  --md-sys-typescale-display-medium-line-height: 3.25rem;
  --md-sys-typescale-display-medium-letter-spacing: 0;
  --md-sys-typescale-display-medium: normal 400 2.8125rem/3.25rem Roboto;
  
  /* Display - Small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 2.25rem;
  --md-sys-typescale-display-small-line-height: 2.75rem;
  --md-sys-typescale-display-small-letter-spacing: 0;
  --md-sys-typescale-display-small: normal 400 2.25rem/2.75rem Roboto;
  
  /* Headline - Large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 2rem;
  --md-sys-typescale-headline-large-line-height: 2.5rem;
  --md-sys-typescale-headline-large-letter-spacing: 0;
  --md-sys-typescale-headline-large: normal 400 2rem/2.5rem Roboto;
  
  /* Headline - Medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 1.75rem;
  --md-sys-typescale-headline-medium-line-height: 2.25rem;
  --md-sys-typescale-headline-medium-letter-spacing: 0;
  --md-sys-typescale-headline-medium: normal 400 1.75rem/2.25rem Roboto;
  
  /* Headline - Small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 1.5rem;
  --md-sys-typescale-headline-small-line-height: 2rem;
  --md-sys-typescale-headline-small-letter-spacing: 0;
  --md-sys-typescale-headline-small: normal 400 1.5rem/2rem Roboto;
  
  /* Body - Large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 1rem;
  --md-sys-typescale-body-large-line-height: 1.5rem;
  --md-sys-typescale-body-large-letter-spacing: 0.03125rem;
  --md-sys-typescale-body-large: normal 400 1rem/1.5rem Roboto;
  
  /* Body - Medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 0.875rem;
  --md-sys-typescale-body-medium-line-height: 1.25rem;
  --md-sys-typescale-body-medium-letter-spacing: 0.015625rem;
  --md-sys-typescale-body-medium: normal 400 0.875rem/1.25rem Roboto;
  
  /* Body - Small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 0.75rem;
  --md-sys-typescale-body-small-line-height: 1rem;
  --md-sys-typescale-body-small-letter-spacing: 0.025rem;
  --md-sys-typescale-body-small: normal 400 0.75rem/1rem Roboto;
  
  /* Label - Large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500;
  --md-sys-typescale-label-large-font-size: 0.875rem;
  --md-sys-typescale-label-large-line-height: 1.25rem;
  --md-sys-typescale-label-large-letter-spacing: 0.00625rem;
  --md-sys-typescale-label-large: normal 500 0.875rem/1.25rem Roboto;
  
  /* Label - Medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 0.75rem;
  --md-sys-typescale-label-medium-line-height: 1rem;
  --md-sys-typescale-label-medium-letter-spacing: 0.03125rem;
  --md-sys-typescale-label-medium: normal 500 0.75rem/1rem Roboto;
  
  /* Label - Small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 0.6875rem;
  --md-sys-typescale-label-small-line-height: 1rem;
  --md-sys-typescale-label-small-letter-spacing: 0.03125rem;
  --md-sys-typescale-label-small: normal 500 0.6875rem/1rem Roboto;
  
  /* Title - Large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 1.375rem;
  --md-sys-typescale-title-large-line-height: 1.75rem;
  --md-sys-typescale-title-large-letter-spacing: 0;
  --md-sys-typescale-title-large: normal 400 1.375rem/1.75rem Roboto;
  
  /* Title - Medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500;
  --md-sys-typescale-title-medium-font-size: 1rem;
  --md-sys-typescale-title-medium-line-height: 1.5rem;
  --md-sys-typescale-title-medium-letter-spacing: 0.009375rem;
  --md-sys-typescale-title-medium: normal 500 1rem/1.5rem Roboto;
  
  /* Title - Small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500;
  --md-sys-typescale-title-small-font-size: 0.875rem;
  --md-sys-typescale-title-small-line-height: 1.25rem;
  --md-sys-typescale-title-small-letter-spacing: 0.00625rem;
  --md-sys-typescale-title-small: normal 500 0.875rem/1.25rem Roboto;
}
