<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ group()!.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-refresher slot="fixed" (ionRefresh)="refreshParticipant($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div id="header">
      <ion-text>
        <h1>Participants</h1>
      </ion-text>
    </div>
    <ion-list lines="full">
      @for (participant of participants(); track participant.id) {
        <ion-item>{{ participant.firstname }} {{ participant.lastname }}</ion-item>
      }
    </ion-list>
  </div>
</ion-content>
