<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nouveau Participant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="participantForm" class="ion-padding" [formGroup]="participantForm">
    <ion-input class="ion-margin-bottom" formControlName="firstname" label="Prénom" labelPlacement="floating" fill="solid"></ion-input>
    <ion-input class="ion-margin-bottom" formControlName="lastname" label="Nom" labelPlacement="floating" fill="solid"></ion-input>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-button type="submit" form="participantForm" (click)="confirm()" fill="solid" color="primary" [strong]="true" [disabled]="participantForm.invalid">Confirm</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
