<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
  <form [formGroup]="expenseForm">
    <ion-list inset="true">
      <ion-item>
        <ion-input formControlName="label" label="Libellé"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="amount" label="Montant"></ion-input>
      </ion-item>
    </ion-list>
    <ion-card (click)="takePicture()">
      @if (proofImageUrl(); as imageUrl) {
        <img alt="proof image" [src]="imageUrl"/>
      } @else {
        <ion-text>Cliquer ici pour ajouter un justificatif</ion-text>
      }
    </ion-card>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" fill="solid" color="medium">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" fill="solid" color="primary" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
