<ion-header [translucent]="true">
  <ion-toolbar id="header--toolbar" color="primary">
    <ion-title>
      Bienvenue Vincent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    @if (lastGroupUse(); as lastGroupUse) {
      <section>
        <ion-text>Souhaitez-vous reprendre où vous en étiez ?</ion-text>
        <ion-card [routerLink]="['/', 'group', lastGroupUse.id]">
          <ion-card-title>{{ lastGroupUse.name }}</ion-card-title>
        </ion-card>
      </section>
    }

    <section>
      <ion-text>Vos autres groupes</ion-text>
      <ion-list lines="full">
        @for (group of groups; track group.id) {
          <ion-item [routerLink]="['/', 'group', group.id]">
            <ion-label>{{ group.name }}</ion-label>
          </ion-item>
        }
      </ion-list>
    </section>
  </div>

</ion-content>
