<ion-header [translucent]="true">
  <ion-toolbar id="header--toolbar" color="primary">
    <ion-title>
      Bienvenue Vincent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <section>
      <ion-text>Souhaitez-vous reprendre où vous en étiez ?</ion-text>
      <ion-card>
        <ion-card-title>Vacance en Espagne</ion-card-title>
      </ion-card>
    </section>
    <section>
      <ion-text>Vos autres groupes</ion-text>
      <ion-list lines="full">
        @for (item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; track item) {
          <ion-item>
            <ion-label>Groupe {{item}}</ion-label>
          </ion-item>
        }
      </ion-list>
    </section>

  </div>

</ion-content>
