#header--toolbar {
  padding-top: 7rem;
}

#container {
  padding: 2.5rem 1rem;
  display: grid;
  gap: 2rem;
}

#container section {
  display: grid;
  gap: 1rem;
}

#container ion-text {
  text-align: center;
}

#container ion-card {
  margin: 0;
}
